.background-picker {
  display: flex;
}

.background-picker__text-input {
  flex-basis: 56px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 71px;
  padding-left: 7px;
  line-height: 16px;
  height: 28px;
}

.background-picker__alpha-input {
  flex-basis: 56px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 46px;
  padding-left: 7px;
  line-height: 16px;
  height: 28px;
}

.background-picker__svg-container {
  display: inline-block;
  height: 32px;
  width: 32px;
}
