.rightbar-kv-field {
  padding: 0;
  height: 28px;
  position: relative;
  display: flex;
  grid-column-end: span 11;
  width: 88px;
  border: solid 1px;
  outline: none;
  align-items: center;
  text-decoration: none;
  border-radius: 2px;
  user-select: none;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
  margin: 1px 0;
}

.rightbar-kv-field--number {
  cursor: ew-resize;
}

.rightbar-kv-field:last-child {
  grid-column-start: 13;
}

.rightbar-kv-field:hover {
  border: 1px solid var(--gray);
}
.rightbar-kv-field:focus-within {
  height: 30px;
  margin: 0;
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}

.rightbar-kv-field__key {
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  line-height: 32px;
  font-size: 11px;
  color: var(--gray);
  fill: var(--gray);
  grid-column-end: span 4;
  pointer-events: none;
  text-align: center;
  display: block;
  text-transform: none !important;
  margin-left: -1px;
}

.rightbar-kv-field__value {
  margin: 0;
  min-width: 0;
  height: 28px;
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
  background-clip: padding-box;
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
  padding: 0;
  user-select: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  border: 1px solid transparent;
  color: var(--dark-gray);
  fill: var(--dark-gray);
}
